.header {
  display: flex;
  align-items: center;
  background-color: $themeColor;
  color: $fontColor;
  height: 70px;
  font-size: 24px;

  &__text {
    width: 90%;
    font-weight: 600;
    text-align: center;
  }

  &__cart {
    display: flex;
    cursor: pointer;
  }

  &__count {
    margin-left: 10px;
  }
}