@import "styles/variables";
@import "styles/header";
@import "styles/categories";
@import "styles/main";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $bodyColor;
}

a {
  text-decoration: none;
  color: black;
  display: block;

  &:hover {
    color: black;
  }
}


